# Kickstart template for VCF
# This will be dynamically filled by the deployment server
# Accept the VMware End User License Agreement

vmaccepteula

# Set the root password
rootpw --iscrypted {{ROOT_PASSWORD_HASH}}

# Install on the first local disk
install --firstdisk --overwritevmfs

# Set the network
network --bootproto=static --ip={{ESXMGMT_IP}} --netmask={{ESXMGMT_NETMASK}} --gateway={{ESXMGMT_GATEWAY}} --vlanid={{ESXIMGMT_VLANID}} --nameserver={{DNS_SERVERS}} --hostname={{HOSTNAME}}

# Reboot after installation
reboot

%firstboot --interpreter=busybox

# Ensure TLS certificate matches ESXi FQDN
/sbin/generate-certificates

# NTP
esxcli system ntp set -s {{NTP_SERVERS}}
esxcli system ntp set -e 1

# Create VMKernel Ports for vMotion
esxcli network vswitch standard portgroup add --portgroup-name=vMotion --vswitch-name=vSwitch0
esxcli network ip netstack add --netstack=vmotion
esxcli network ip interface add --interface-name=vmk1 --portgroup-name=vMotion --netstack=vmotion --mtu=9000
esxcli network ip interface ipv4 set --interface-name=vmk1 --ipv4=192.168.10.215 --netmask=255.255.255.0 --type=static


URL="http://{{SERVER_IP}}/admin/deployment_complete.php?mac={{MAC_ADDRESS}}"
/bin/curl -s "$URL" > /tmp/curl_output
