# Kickstart template for VCF
# This will be dynamically filled by the deployment server
# Accept the VMware End User License Agreement

vmaccepteula

# Set the root password
rootpw --iscrypted {{ROOT_PASSWORD_HASH}}

# Install on the first local disk
install --firstdisk --overwritevmfs

# Set the network
network --bootproto=static --ip={{ESXMGMT_IP}} --netmask={{ESXMGMT_NETMASK}} --gateway={{ESXMGMT_GATEWAY}} --vlanid={{ESXIMGMT_VLANID}} --nameserver={{DNS_SERVERS}} --hostname={{HOSTNAME}}

# Reboot after installation
reboot

%firstboot --interpreter=busybox

# Ensure TLS certificate matches ESXi FQDN
/sbin/generate-certificates

# NTP
esxcli system ntp set -s {{NTP_SERVERS}}
esxcli system ntp set -e 1

URL="http://{{SERVER_IP}}/admin/deployment_complete.php?mac={{MAC_ADDRESS}}"
/bin/curl -s "$URL" > /tmp/curl_output
